---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post: CollectionEntry<"blog">) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
// Get the compiled markdown as a component
const { Content } = await post.render();
---
<Layout>
  <article class="max-w-screen-lg my-30 mx-auto p-4">
    <h1 class="text-4xl font-bold">{post.data.title}</h1>
    <p class="text-sm text-gray-500 mb-10">Published on {post.data.pubDate}</p>
    <div class="mt-4 article-content">
      <Content />
    </div>
  </article>
</Layout>

