---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';


// Load the content collection named "blog"
const posts = await getCollection('blog');

---

<Layout>
  <section class="max-w-screen-lg mt-30 mx-auto p-4">
    <h1>Blog Posts</h1>
    <ul>
      {posts.map((post: CollectionEntry<"blog">) => (
        <li>
        <a href={`/blog/${post.slug}`}>
          {post.data.title} – {post.data.pubDate}
        </a>
        <p>{post.data.description}</p>
      </li>
    ))}
  </ul>
</section>
</Layout>
