---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';


// Load the content collection named "blog"
const posts = await getCollection('blog');
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Blog Home</title>
  </head>
  <body>
    <Layout>
      <h1>Blog Posts</h1>
      <ul>
    {posts.map((post: CollectionEntry<"blog">) => (
      <li>
        <a href={`/blog/${post.slug}`}>
          {post.data.title} – {post.data.pubDate}
        </a>
        <p>{post.data.description}</p>
          </li>
        ))}
      </ul>
    </Layout>
  </body>
</html>
