---
import '../styles/tailwind.css';
import ThemeManager from '../ThemeManager.astro';
import Header from '../sections/Header.svelte';
import ThemeSwitcher from '../components/ThemeSwitcher.svelte';
import Footer from '../sections/Footer.svelte';
---  

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Workouter</title>
		<ThemeManager />
	</head>
	<body class="bg-surface-primary text-text-primary">
		<Header>
			<ThemeSwitcher client:only="svelte" />
		</Header>
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
